.Header {
    background-color: #bfdaf3;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: left;
    margin-top: 0px;
  }

  .App-logo {
    height: 55px;
    margin-left: 5px;
    margin-right: 10px;
    margin-top: 15px;
    margin-bottom: 20px;
  }